body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  background: radial-gradient(circle, #111, #000);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(0,0,0,0.8);
  padding: 30px;
  width: 350px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px purple;
  animation: fadeIn 1.5s;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

button {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  background: purple;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: darkviolet;
  transform: scale(1.05);
  box-shadow: 0 0 15px violet;
}

#hasil {
  margin-top: 20px;
  color: violet;
  animation: glow 1s infinite alternate;
}

/* ANIMASI */
@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.8);}
  to {opacity: 1; transform: scale(1);}
}

@keyframes glow {
  from {text-shadow: 0 0 5px violet;}
  to {text-shadow: 0 0 20px violet;}
}
